[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "*"
django = "*"
django-filter = "*"
whitenoise = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
Pillow = "*"

[requires]
python_version = "3.6"
