<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Lista de Eventos</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-md-2">
      <a mat-raised-button color="accent" class="d-none d-sm-block" [routerLink]="['create']" >Crear Nuevo Evento</a><br>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let event of events" class="col-sm-6 col-md-4">
      <mat-card [routerLink]="['athletes/',event.id] "class="hand">
        <mat-card-header>
          <mat-card-title>{{ event.event_name }}</mat-card-title>
          <mat-card-subtitle>{{ event.event_category }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="card-img-top" [src]="environment.urlImages+(event.thumbnail)" alt="{{ event.event_name }} ">
        <a mat-raised-button class="d-none d-sm-block" [routerLink]="['update']" >Actualizar Evento</a>
        <a mat-raised-button class="d-none d-sm-block" color="warn" [routerLink]="['delete']" >Borrar Evento</a>
      </mat-card>
    </div>
  </div>
</div>
